.person {
    width: 40%;
    align-content: center;
    margin: 16px 30%;
    padding: 16px;
    border: solid 1px darkgrey;
    box-shadow: 2px 3px gray;
}

@media (mid-width: 500px) {
    .Person {
        width: 450px;
    }
}